
h1{
    color: brown;
}

body{
    background-color: rgb(221, 182, 182);
}
h2{
    color: darkblue;
}

p{
    color: darkmagenta;
}

ul {
    color: darkorange;
}
a{
    color: darkorange;
    
}